<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>887506922499-da2d35ebiucfkrap1amrd8b1r8bsa46c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887506922499-da2d35ebiucfkrap1amrd8b1r8bsa46c</string>
	<key>API_KEY</key>
	<string>AIzaSyBQgBEMiNiZbi3TiA8Bj4sSwoFdCi_T12Q</string>
	<key>GCM_SENDER_ID</key>
	<string>887506922499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dream.team.gechat</string>
	<key>PROJECT_ID</key>
	<string>ge-chat-fd58e</string>
	<key>STORAGE_BUCKET</key>
	<string>ge-chat-fd58e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887506922499:ios:a7e11fbeea134876</string>
	<key>DATABASE_URL</key>
	<string>https://ge-chat-fd58e.firebaseio.com</string>
</dict>
</plist>